
body{
    background-image: linear-gradient(#FC5E55 , #FA4083);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card1{
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card2{
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card3{
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

h1{
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}