body{
    background-color: rgb(80, 255, 217);
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    background-color: blue;
    height: 118px;
    text-align: center;
}

nav{
    background-color: rebeccapurple;
    height: 40px;
}

main{
    background-color: orange;
    height: 400px;
}

footer{
    background-color: greenyellow;
    height: 100px;
}